package ${ivod.pkgName}.requests;

#foreach ( $imp in $mmh.getIImports() )
import $imp;
#end
import java.util.List;
import ${ivod.pkgName}.${mmh.getIVOClazzName()};

/**
 * $ivod.comment
 *
 * @author $ivod.author
 */
@SuppressWarnings("all")
#if ($mmh.isDeprecated())
@Deprecated
@ToBeRemoved(date="$ivod.removalDate")
#end
@JsonTypeInfo(use = JsonTypeInfo.Id.CLASS, include = JsonTypeInfo.As.PROPERTY, property = "@class")
public interface $mmh.getModIVOInterfaceName() $mmh.getIImplements() {

	/**
	 * property constant for ids
	 * property comment: the id
	 */
	public static final String PROP_IDS = "ids";


	/**
	 * the list of ids
	 * This field is required.
	 *
	 * @return the value for ids
	 *
	 */
	@Nonnull
	public List<String> getIds();


	/**
	 * @return a clone
	 */
	public $mmh.getModIVOInterfaceName() clone();

}
