package ${ivod.pkgName}.requests;

#foreach ( $imp in $mmh.getIImports() )
import $imp;
#end
import ${ivod.pkgName}.${mmh.getIVOClazzName()};

/**
 * $ivod.comment
 *
 * @author $ivod.author
 */
@SuppressWarnings("all")
#if ($mmh.isDeprecated())
@Deprecated
@ToBeRemoved(date="$ivod.removalDate")
#end
@JsonTypeInfo(use = JsonTypeInfo.Id.CLASS, include = JsonTypeInfo.As.PROPERTY, property = "@class")
public interface $mmh.getModIVOInterfaceName() $mmh.getIImplements() {

	/**
	 * property constant for value
	 * property comment: the brand value
	 */
	public static final String PROP_VALUE = "value";


	/**
	 * the brand value
	 * This field is required.
	 *
	 * @return the value for value
	 *
	 */
	@Nonnull
	public $mmh.getIVOClazzName() getValue();


	/**
	 * @return a clone
	 */
	public $mmh.getModIVOInterfaceName() clone();

}
