package ${ivod.pkgName}.requests;

#foreach ( $imp in $mmh.getImports() )
import $imp;
#end
import java.util.ArrayList;
import java.util.List;
import java.util.Collections;
import ${ivod.pkgName}.${mmh.getIVOClazzName()};
import de.taimos.dvalin.interconnect.model.ivo.AbstractIVO;

/**
 * $ivod.comment
 *
 * @author $ivod.author
 */
@SuppressWarnings("all")
#if ($mmh.isDeprecated())
@Deprecated
@ToBeRemoved(date="$ivod.removalDate")
#end
@JsonDeserialize(builder = ${mmh.getModIVOClazzName()}.${mmh.getModIVOClazzName()}Builder.class)
public class ${mmh.getModIVOClazzName()} extends $mmh.getParent() implements I${mmh.getModIVOClazzName()} {

private static final long serialVersionUID = ${ivod.version}L;

	/**
	* Builder for the read-only ivo
	*
	*/
#if ($mmh.isDeprecated())
	@Deprecated
	@ToBeRemoved(date="$ivod.removalDate")
#end
	@JsonPOJOBuilder()
	public static class ${mmh.getModIVOClazzName()}Builder extends Abstract${mmh.getModIVOClazzName()}Builder<${mmh.getModIVOClazzName()}Builder> implements IVOBuilder {

		// nothing to do here, really

	}

	/**
	* Abstract Builder for the read-only ivo
	*
	* @param <E> type of builder
	*/
	public abstract static class Abstract${mmh.getModIVOClazzName()}Builder<E extends Abstract${mmh.getModIVOClazzName()}Builder<?>> $mmh.getParentBuilder() $mmh.getBuilderImplements() {

        private List<String> ids = new ArrayList<>();
#if ( $ivod.auditing )        
		private Integer version;
#end		

        /**
		 * This field is required.
		 * the id
		 *
		 * @param id the value to set
		 * @return the builder
		 *
		 **/
		@Nonnull
		@SuppressWarnings("unchecked")
		public E withId(String id) {
			this.ids = Collections.singletonList(id);
			return (E) this;
		}

        /**
        * This field is required.
        * the list of ids
        *
        * @param ids the value to set
        * @return the builder
        *
        **/
        @Nonnull
        @SuppressWarnings("unchecked")
        public E withIds(List<String> ids) {
            this.ids = ids;
            return (E) this;
        }

        /**
        * This field is required.
        * the id
        *
        * @param id the value to add
        * @return the builder
        *
        **/
        @Nonnull
        @SuppressWarnings("unchecked")
        public E addId(String id) {
            this.ids.add(id);
            return (E) this;
        }

		/**
		 * @return the ids
		 **/
		public List<String> getIds() {
			return this.ids;
		}

#if ( $ivod.auditing )
		/**
		 * This field is optional, thus may be null.
		 * the exact version to look for
		 *
		 * @param pversion the value to set
		 * @return the builder
		 *
		 **/
	 	@Nullable
		@SuppressWarnings("unchecked")
		public E withVersion(Integer pversion) {
			this.version = pversion;
			return (E) this;
		}

		/**
		 * @return the field value
		 **/
		public Integer getVersion() {
			return this.version;
		}
#end		

		protected void internalFillFromIVO(${mmh.getModIVOClazzName()} ivo) {
			this.withIds(ivo.ids);
#if ( $ivod.auditing )
			this.withVersion(ivo.version);
#end			
		}

		/**
		 * @return the entry
		 **/
		public ${mmh.getModIVOClazzName()} build() {
			if (this.ids == null) {
				throw new IllegalStateException("The attribute ids must not be null!");
			}
			${mmh.getModIVOClazzName()} result = new ${mmh.getModIVOClazzName()}(this);
			return result;
		}
	}

	private final List<String> ids;
#if ( $ivod.auditing )
	private final Integer version;
#end	

	protected ${mmh.getModIVOClazzName()}(Abstract${mmh.getModIVOClazzName()}Builder<?> builder) {
		this.ids = builder.ids;
#if ( $ivod.auditing )
		this.version = builder.version;
#end
	}

	public List<String> getIds() {
		return this.ids;
	}

#if ( $ivod.auditing )
	public Integer getVersion() {
		return this.version;
	}
#end

	@SuppressWarnings("unchecked")
	@Override
	public <T extends IVOBuilder> T createBuilder() {
		${mmh.getModIVOClazzName()}Builder builder = new ${mmh.getModIVOClazzName()}Builder();
		builder.internalFillFromIVO(this);
		return (T) builder;
	}

	@Override
	public ${mmh.getModIVOClazzName()} clone() {
		return (${mmh.getModIVOClazzName()}) super.clone();
	}

}
