package ${model.getPackageName()}.requests;

#foreach ( $imp in $model.getImports() )
import $imp;
#end
import java.util.List;
import ${model.getPackageName()}.${model.getClazzName()};
import de.taimos.dvalin.interconnect.model.ivo.IVO;

/**
* $model.getComment()
*
* @author $model.getAuthor()
*/
@SuppressWarnings("all")
#if ($model.isDeprecated())
@Deprecated
@ToBeRemoved(date="$model.getRemoveDate()")
#end
@JsonTypeInfo(use = JsonTypeInfo.Id.CLASS, include = JsonTypeInfo.As.PROPERTY, property = "@class")
public interface ${clazzName} extends IVO {

	/**
	 * property constant for ids
	 * property comment: the id
	 */
	public static final String PROP_IDS = "ids";


	/**
	 * the list of ids
	 * This field is required.
	 *
	 * @return the value for ids
	 *
	 */
	@Nonnull
	public List<String> getIds();


	/**
	 * @return a clone
	 */
	public ${clazzName} clone();

}
